:root {
  font-size: 1.1em;
  line-height: 1.5;

  /* https://github.com/system-fonts/modern-font-stacks#humanist */
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: normal;

  /* Colors */
  --color-fg: #4e5668;
  --color-bg: #fff;
  --color-sub-fg: #68604e;
  --color-sub-bg: #eceff4;
  --color-accent: #94bfce;
  --color-shadow: #aaa;
}

body[data-theme="dark"] {
  --color-fg: #d8dae2;
  --color-bg: #2e3440;
  --color-sub-fg: #e2e0d8;
  --color-sub-bg: #403a2e;
  --color-accent: #ae8fab;
  --color-shadow: #567c89;
}

:root {
}

code:not(pre code) {
  color: var(--color-sub-fg);
  background-color: var(--color-sub-bg);
  border-radius: 0.25em;
  padding: 0.1em 0.25em;
}

pre {
  /* background-color: var(--color-accent); */
  border-radius: 0.25em;
  padding: 0.5em;
  border: 0.5px solid var(--color-shadow);
  overflow-x: auto;
}

a {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-sub-fg);
}

body {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 1020px;
  display: flex;

  color: var(--color-fg);
  background-color: var(--color-bg);
}

h1 {
  font-size: 2em;
  line-height: 1.25;
  font-weight: 500;
}

blockquote {
  margin: 0;
  margin-left: 1em;
  border-left: 0.25em solid var(--color-accent);
  padding-left: 0.75em;
  font-style: italic;
}

main {
  width: 100%;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

img {
  border-radius: 0.25em;
  display: block;
}
