:root {
  font-size: 1em;
  line-height: 1.5;

  /* https://github.com/system-fonts/modern-font-stacks#humanist */
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: normal;

  /* Colors */
  --color-fg: #4e5668;
  --color-bg: #fff;

  --color-sub-fg: #7d889f;
  --color-sub-bg: #eceff4;

  /* --color-accent: #94bfce; */
  --color-accent-rgb: 148, 191, 206;
}

:root {
  --color-fg: #d8dae2;
  --color-bg: #2e3440;

  --color-sub-fg: #9ba0af;
  --color-sub-bg: #2a2d36;

  --color-accent: #567c89;
  --color-accent-rgb: 86, 124, 137;
}

:root {
  --color-accent: rgba(var(--color-accent-rgb));
}

a {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-fg);
}

body {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 1020px;
  display: flex;

  color: var(--color-fg);
  background-color: var(--color-bg);
}

h1 {
  font-size: 2em;
  line-height: 1.25;
  font-weight: 500;
}

blockquote {
  margin: 0;
  margin-left: 1em;
  border-left: 0.25em solid var(--color-accent);
  padding-left: 0.75em;
  font-style: italic;
}

main {
  width: 100%;
}

code {
  background-color: rgba(var(--color-accent-rgb), 0.2);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  border: 0.5px solid rgba(var(--color-accent-rgb), 0.7);
}

pre {
  background-color: rgba(var(--color-accent-rgb), 0.2);
  border-radius: 0.25em;
  padding: 0.5em;
  border: 0.5px solid rgba(var(--color-accent-rgb), 0.7);
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

img {
  border-radius: 0.25em;
  display: block;
}
