:root {
  font-size: 1em;
  line-height: 1.5;

  /* Colors */
  --color-fg: #4e5668;
  --color-bg: #fff;

  --color-sub-fg: #7d889f;
  --color-sub-bg: #eceff4;

  --color-accent: #94bfce;
}

body {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 1020px;
  display: flex;

  color: var(--color-fg);
  background-color: var(--color-bg);
}

main {
  width: 100%;
}

pre {
  margin: 0;
  padding: 0;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

img {
  border-radius: 0.25em;
  display: block;
}
